* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbarCustomList {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    min-height: 50px;
    border-bottom: 2px solid rgb(32, 175, 191);
    color: white;
}


.navbarCustom {
    position: fixed;
    width: 100%;
    height: 80px;
    color: white;
    background: #222;
    border-bottom: 2px solid rgb(32, 175, 191);
}

.navitems {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 25px 25px;
}

.navitems p {
    font-size: 16px;
}

.logo {
    margin: 30px 0;
    -webkit-filter: drop-shadow(0px 0px 6px #222);
    filter: drop-shadow(0px 0px 6px #222);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 120px;
}

.players-online {
    font-size: 16px;
}

.tournamentList {
    margin: 150px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.tournament-link {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.box {
    border-bottom: 2px solid #F2BF3D;
    border-radius: 5px;
    background: rgb(36, 37, 38);
    color: white;
    transition: all 0.3s;
    margin: 10px 40px;
    min-width: 190px;
    height: 200px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.tournamentInfo {
    background: #F7F7F7;
    margin: 130px 50px 30px 50px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.tournamentInfo .section {
    font-size: 19px;
    margin: 0 25px;
}

.tournamentInfo .section p {
    padding: 15px;
}

.tournamentInfo .tournamentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tables {
    display: flex;
    flex-flow: row;
    max-width: 48%;
}

.table-pDataDead, .table-pDataAlive {
    margin: 0 15px;
}

.tables caption {
    color: rgb(32, 175, 191);
    font-size: 19px;
}

.tables th {
    font-size: 16px;
}

.link {
    font-size: 16px;
    padding: 25px;
    color: white;
}

.link:hover {
    color: white;
}

.player-search {
    transition: all 0.3s;
    font-size: 18px;
    border: none;
    margin: 0 0 40px 50px;
    border-bottom: 2px solid rgb(32, 175, 191);
}

.player-search:focus {
    outline: none;
    padding: 6px;
}

#backGround {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -100;
}