<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guru Websites">
    <meta name="description" content="Moltres PvP's Official website, here you will find all the links to our relevant pages.  Learn more!">
    <meta name="keywords" content="Minecraft Server,MC Server,Popular Minecraft Server,Popular MC Server,Minecraft,MC,Moltres PvP Minecraft Server,Moltres PvP MC Server,Moltres PvP,Popular,New,Plugins,Store,Shop,Unique,Staff,Apply,Applications">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
    {% if not debug %}
    <link rel="stylesheet" href="/errordocs/assets/css/custom.css">
    {% endif %}
    <title>Page Not Found</title>
</head>
<body>
<img src="/assets/img/logo.png" alt="Logo" class="logo">
<h1>THE PAGE YOU ARE LOOKING FOR COULD NOT BE FOUND</h1>
<a href="/" class="home"><h2>HOME</h2></a>
</body>
</html>