<html>
    <head>
        <title>MoltresPvP | Tournament</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% if debug %}
        <link rel="stylesheet" href="http://localhost/public/assets/main.css">
        {% else %}
        <link rel="stylesheet" href="https://www.moltrespvp.com/playerstats/tournament/public/assets/main.css">
        {% endif %}
    </head>

    <body>
        <div class="navbarCustom">
            <div class="navitems">
                <p class="title">MoltresPvP Tournament Live</p>
                <img class="logo" src="https://www.moltrespvp.com/assets/img/logo.png" alt="LOGO">
                <p class="players-online">Tournament Type: <span class="tournament-type"></span></p>
            </div>
        </div>

        <div class="container-fluid">
            <a class="link" href="{{ path_for('tournaments.home') }}">Back to tournaments</a>
            <div class="tournamentInfo">
                <div class="tournamentContainer">
                    <div style="text-align: center; padding: 10px;">
                        <h2>Host</h2>
                        <img id="host-image" src="" alt="Host">
                        <h2><span id="host-name"></span></h2>
                    </div>
                    <div class="section">
                        <h2>Tournament: <span id="tournament-id"></span></h2>
                    </div>
                    <div class="section">
                        <p>Type: <br><span class="tournament-type"></span></p>
                        <p>Total Kills: <br><span id="total-kills"></span></p>
                    </div>
                </div>
            </div>

            <form action="">
                <div>
                    <input type="text" class="player-search" name="player" placeholder="Enter Player Name">
                </div>
            </form>

            <div class="playerData">

                <div class="tables">
                    <table class="table table-striped table-pDataAlive">
                        <caption>Alive Players</caption>
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Time</th>
                        <th>Enemy</th>
                        <th>Bracket</th>
                        {% if type == 3 %}
                        <th>Team</th>
                        <th>Enemy Team</th>
                        {% endif %}
                        </thead>
                        <tbody id="playerDataBody">

                        </tbody>
                    </table>

                    <table class="table table-striped table-pDataDead">
                        <caption>Dead Players</caption>
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Enemy</th>
                        <th>Bracket</th>
                        {% if type == 3 %}
                        <th>Team</th>
                        <th>Enemy Team</th>
                        {% endif %}
                        </thead>
                        <tbody id="deadPlayerDataBody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {% if debug %}
        <script src="http://localhost/public/assets/js/playerData.js"></script>
        {% else %}
        <script src="https://www.moltrespvp.com/playerstats/tournament/public/assets/js/playerData.js"></script>
        {% endif %}
    </body>
</html>
