<html>
    <head>
        <title>MoltresPvP | Tournament</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        {% if debug %}
        <link rel="stylesheet" href="http://localhost/public/assets/main.css">
        {% else %}
        <link rel="stylesheet" href="https://www.moltrespvp.com/assets/tournaments/main.css">
        {% endif %}
    </head>

    <body>
        <video id="backGround" autoplay loop>
            <source src="https://www.moltrespvp.com/media/bg.mp4" type="video/mp4">
        </video>

        <div class="navbarCustomList">
            <div class="navitems">
                <p class="title">MoltresPvP Tournaments</p>
                <img class="logo" src="https://www.moltrespvp.com/assets/img/logo.png" alt="LOGO">
                <p class="players-online">Players Online: 0</p>
            </div>
        </div>

        <div class="container">
            <div class="tournamentList">
                <div class="box">
                    <a class="tournament-link" href="{{ path_for('tournament.live') }}">
                        Live Tournament
                    </a>
                </div>
                {% for value in tournaments %}
                <div class="box" style="text-align: center">
                    <a class="tournament-link" href="{{ path_for('tournament.stats', {'tournamentId': value}) }}">
                        Tournament<br> {{ value }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                $(function() {
                    var ip = "play.moltrespvp.com";
                    var players = $(".players-online");

                    $.ajax({
                        url: 'https://us.mc-api.net/v3/server/info/' + ip
                    }).done(function (data) {
                        players.html("Players Online: " + data.players.online);
                    }).fail(function () {
                        console.error('Request to get players online failed');
                        players.html("Players Online: N/A");
                    });
                });
            });
        </script>
    </body>
</html>