<html>
    <head>
        <title>MoltresPvP | Tournament</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% if debug %}
        <link rel="stylesheet" href="http://localhost/public/assets/main.css">
        {% else %}
        <link rel="stylesheet" href="https://www.moltrespvp.com/assets/tournaments/main.css">
        {% endif %}
    </head>

    <body>

        <div class="navbarCustom">
            <div class="navitems">
                <p class="title">
                    {% if isSearch %}
                    <a class="link" href="{{ path_for('tournament.stats', {'tournamentId': tournamentId}) }}"><i class="fa fa-arrow-left"></i> Back</a>
                    {% else %}
                    <a class="link" href="{{ path_for('tournaments.home') }}"><i class="fa fa-arrow-left"></i> Back</a>
                    {% endif %}

                    MoltresPvP Tournament
                </p>
                <img class="logo" src="https://www.moltrespvp.com/assets/img/logo.png" alt="LOGO">
                <p class="players-online">Current Tournament: {{ tournamentId }}</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="tournamentInfo">
                <div style="text-align: center; padding: 10px;">
                    <h2>Host</h2>
                    <img src="https://crafatar.com/avatars/{{ hostUuid }}?size=90" alt="Host">
                    <h2>{{ hostName }}</h2>
                </div>
                <div class="tournamentContainer">

                    <div class="section">
                        {% if type == 1 %}
                        <p>Type: <br>Elimination</p>
                        {% elseif type == 2 %}
                        <p>Type: <br>Free For All</p>
                        {% elseif type == 3 %}
                        <p>Type: <br>Teams</p>
                        {% endif %}
                        <p>Total Kills: <br>{{ totalKills }}</p>
                    </div>
                    <div class="section">
                        <p>Winner: <br><span class="winner1">{{ winner }}</span></p>
                        <p>Winner 2: <br><span class="winner2">{{ winner2 }}</span></p>
                    </div>
                </div>
            </div>

            <div class="playerData">
                <form action="{{ path_for('tournament.stats', {'tournamentId': tournamentId}) }}" method="GET">
                    <div>
                        <input type="text" class="player-search" name="player" placeholder="Enter Player Name">
                    </div>
                </form>
                <table class="table table-striped table-pData">
                    <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Kills</th>
                    <th>Scheduled Time</th>
                    <th>Enemy</th>
                    <th>Bracket</th>
                    {% if type == 3 %}
                    <th>Team</th>
                    <th>Enemy Team</th>
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for user in playerData %}
                    <tr>
                        <td><img src="https://crafatar.com/avatars/{{ user.uuid }}?size=60" alt="player head"></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.kills }}</td>
                        <td>{{ user.scheduledTime }}</td>
                        <td>{{ user.enemy }}</td>
                        <td>{{ user.bracket }}</td>
                        {% if type == 3 %}
                        <td>{{ user.team }}</td>
                        <td>{{ user.enemyTeam }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% if not playerData %}
                    <tr>
                        <td>No players found</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path_for('tournament.stats', {'tournamentId': tournamentId}) }}">Back</a></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>